<div class="span12">
  <%= render 'common/user_nav' %>

  <div class="group">
    <%= render_group_new_button %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Owner</td>
        <td>Action</td>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= render_group_button(group) %></td>
          <td><%= render_group_description(group) %></td>
          <td><%= group.owner.try(:name) %></td>
          <td><%= render_group_management_button(group) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
