<div class="span12">
  <%= render 'common/user_nav' %>

  <h2>My Groups</h2>

  <table class="table">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td>Post Count</td>
        <td>Last Update</td>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>#</td>
          <td><%= render_group_button(group) %></td>
          <td><%= render_group_description(group) %></td>
          <td><%= group.posts.count %></td>
          <td><%= render_group_updated_at(group) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
